
.hk-sec-wrapper {
    background: #fff;
    padding: 1.5rem;
    border: 1px solid #e2e2e2;
    border-radius: .25rem;
   // box-shadow: 0 0px 18px rgb(0 0 0  10%);
    margin-bottom: 14px;
}

.dropify-wrapper {
    border: 2px dashed #e0e3e4;
    font-family: inherit;
    color: #324148;
}
